<% provide :title, t(".help_title") %>

<h1><%= t(".help_heading") %></h1>

<p>
  <%= t(".rails_tutorial_help_html",
         help_link: link_to(t(".rails_tutorial_help_page"), "http://www.railstutorial.org/help")) %>
  <%= t(".sample_app_help_html",
         book_link: link_to("<em>Ruby on Rails Tutorial</em>".html_safe, "http://www.railstutorial.org/book")) %>
</p>
