<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h4>
      <%= t(".header",
             count: object.errors.count,
             model: object.model_name.human,
             default: t("shared.error_messages.header",
                        count: object.errors.count,
                        model: object.model_name.human)) %>
    </h4>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
