<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1><%= t(".title", default: t("mailer.default_title")) %></h1>

    <p><%= t(".greeting", default: t("mailer.default_greeting")) %></p>

    <%= yield %>

    <p><%= t(".signature", default: t("mailer.default_signature")) %></p>
  </body>
</html>
